<!--Light/Dark Mode Toggle-->
<div class="d-flex">
	<div class="form-check form-switch mt-3 me-3 ms-auto">
		<label class="form-check-label ms-3" for="lightSwitch">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="30"
                 height="30"
                 fill="currentColor"
                 class="bi bi-brightness-high"
                 viewBox="0 0 16 16">
                <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
            </svg>
		</label>
        <input class="form-check-input" type="checkbox" style="width:3em; height:1.5em;" id="lightSwitch" />
	</div>
</div>



<!--Main Content (Forms)-->
<div class="mt-4 container">
    <!--Category-->
    <div class="mb-4">
        <label class="form-label">Select Category</label>
        <select id="categorySelect" class="form-select">
            <option value="weight">Weight</option>
            <option value="length">Length</option>
            <option value="temperature">Temperature</option>
        </select>
    </div>
    <!--Tabs-->
    <ul class="nav nav-tabs justify-content-center mb-4" id="converterTabs">
        <li class="nav-item">
            <button class="nav-link active" id="imperial-tab" type="button" data-bs-toggle="tab" data-bs-target="#imperial">
                Imperial to Metric
            </button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="metric-tab" type="button" data-bs-toggle="tab" data-bs-target="#metric">
                Metric to Imperial
            </button>
        </li>
    </ul>
    <!--Tab Content-->
    <div class="tab-content" id="converterTabsContent">
        <!--Imperial to Metric (Tab 1)-->
        <div class="tab-pane fade show active" id="imperial">
            <div class="mb-4">
                <label class="form-label">Imperial Unit</label>
                <div class="input-group">
                    <!--Imperial Unit Selection-->
                    <select id="imperialSelect" class="form-select">
                        <option selected disabled>-- Select Unit --</option>
                    </select>
                    <input id="imperialInput" type="number" class="form-control" placeholder="Enter Value..." />
                    <a class="btn btn-outline-secondary" href="#" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width:15px;height:15px;">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 18.75a6 6 0 0 0 6-6v-1.5m-6 7.5a6 6 0 0 1-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 0 1-3-3V4.5a3 3 0 1 1 6 0v8.25a3 3 0 0 1-3 3Z" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="mb-4 text-center">
                To
            </div>
            <!--Bottom Layer (Results)-->
            <div>
                <label class="form-label">Metric Unit</label>
                <div class="input-group">
                    <!--Metric Unit Selection-->
                    <select id="metricResultSelect" class="form-select">
                        <option value="value">-- Select Unit --</option>
                    </select>
                    <input id="imperialResultInput" type="text" class="form-control" placeholder="Final Value..." readonly />
                </div>
            </div>
        </div>

        <!--Metric to Imperial (Tab 2)-->
        <div class="tab-pane fade" id="metric">
            <div class="mb-4">
                <label class="form-label">Metric Unit</label>
                <div class="input-group">
                    <!--Metric Unit Selection-->
                    <select id="metricSelect" class="form-select">
                        <option selected disabled>-- Select Unit --</option>
                    </select>
                    <input id="metricInput" type="number" class="form-control" placeholder="Enter Value..." />
                    <a class="btn btn-outline-secondary" href="#" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width:15px;height:15px;">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 18.75a6 6 0 0 0 6-6v-1.5m-6 7.5a6 6 0 0 1-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 0 1-3-3V4.5a3 3 0 1 1 6 0v8.25a3 3 0 0 1-3 3Z" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="mb-4 text-center">
                To
            </div>
            <!--Bottom Layer (Results)-->
            <div>
                <label class="form-label">Imperial Unit</label>
                <div class="input-group">
                    <!--Imperial Unit Selection-->
                    <select class="form-select" id="imperialResultSelect">
                        <option value="value">-- Select Unit --</option>
                    </select>
                    <input id="metricResultInput" type="text" class="form-control" placeholder="Final Value..." readonly />
                </div>
            </div>
        </div>

    </div>
</div>


<!--Error Messages-->
<!--Negative Values (Temperature Only)-->
<!--Error on Conversion (Needs to hit Server)-->

<script src="~/js/UnitConversionDropdown.js" asp-append-version="true"></script>
<script src="~/js/UnitConversionSubmission.js" asp-append-version="true"></script>

